Package: mapr-spark-master
Version: __RELEASE_VERSION__ 
Section: base
Priority: optional
Architecture: all
Depends: mapr-spark (= __RELEASE_VERSION__)
Maintainer: Hewlett Packard Enterprise
Description: Apache Spark Master distribution included in HPE DataFabric Software Ecosystem Pack
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__
