<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>application.properties</comment>
    <entry key="X-XSS-Protection">1; mode=block</entry>
    <entry key="Strict-Transport-Security">max-age=31536000;includeSubDomains</entry>
    <entry key="Content-Security-Policy">default-src https:;script-src 'self' 'unsafe-inline';style-src 'self' 'unsafe-inline';font-src data:</entry>
    <entry key="X-Content-Type-Options">nosniff</entry>
</properties>
