Package: mapr-spark
Version: __RELEASE_VERSION__
Section: base
Priority: optional
Architecture: all
Depends: mapr-client, mapr-hadoop-client
Maintainer: Hewlett Packard Enterprise
Description: Apache Spark distribution included in HPE DataFabric Software Ecosystem Pack
  Tag: __RELEASE_BRANCH__
  Commit: __GIT_COMMIT__
